{% extends 'main.html' %}
<!DOCTYPE html>
<html>

<head>
    <head>
        <title>Team Brainiacs</title>
    </head>
</head>
{% block SingUp_Login %}
<body>
    <!-- Change heading -->
    <h1 style="font-size: 6; color: rgb(0, 4, 255);">Login</h1>
    <form action="POST">
    <input type="text" id="Username" name="Username" placeholder="Username">
    <input type="text" id="Password" name="Password" placeholder="Password">
    </form>
    <a href=loginsuccesful><input type="submit" id="Login" value="Login" onclick="Do_something"></a>
</body>
{% endblock %}
</html>