{% extends "main.html" %}
{% block content %}
<body>

<!-- Header -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Pages on our Wiki</h1>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="/Hillwood">Hillwood Estates</a></li>
            <li class="list-group-item list-group-item-light"><a href = "/Basilica">Basilica of the National Shrine of the Immaculate Conception</a></li>
            <li class="list-group-item list-group-item-light"><a href="/Albert">Einstein Memorial</a></li>
            <li class="list-group-item list-group-item-light"><a href="/Dumbarton">Dumbarton</a></li>
            <li class="list-group-item list-group-item-light"><a href="/Lincoln">Lincoln Cottage</a></li>
            <li class="list-group-item list-group-item-light"><a href="/Office">Old Post Office Pavilion</a></li>
            <li class="list-group-item list-group-item-light"><a href="/Arboetum">U.S. National Arboetum</a></li>
            <li class="list-group-item list-group-item-light"><a href="/Postal">National Postal Museum</a></li>
            <li class="list-group-item list-group-item-light"><a href="/Anderson">Anderson House</a></li>
            <li class="list-group-item list-group-item-light"><a href="/Wilson">Woodrow Wilon's House</a></li>
          </ul>
      </div>
    </div>
  <!-- END MAIN -->
  </div>
  
  <script>
  // Get the Sidebar
  var mySidebar = document.getElementById("mySidebar");
  
  // Get the DIV with overlay effect
  var overlayBg = document.getElementById("myOverlay");
  
  // Toggle between showing and hiding the sidebar, and add overlay effect
  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
      overlayBg.style.display = "none";
    } else {
      mySidebar.style.display = 'block';
      overlayBg.style.display = "block";
    }
  }
  
  // Close the sidebar with the close button
  function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
  }
  </script>
</body>

{% endblock %}

