{% extends 'main.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<head>
    <title>Team Brainiacs</title>
</head>
    <div>
        <h1 style="font-size: 6; color: rgb(0, 4, 255);">Sign Up</h1>
    </div>
    <main>
        <form method="post" enctype="multipart/form-data" id="register-form">

            <input type="text" id="Username" name="username" placeholder="Username" required>
            <input type="password" id="Password" name="password" placeholder="Password" required>
            {% if message %}
                <div>{{ message }}</div>
            {% endif %} 
            <input type="submit" value="Register" id="register-form-submit">
        </form>
    </main>
{% endblock content %}


