{% extends "main.html" %}
{% block content %}

    <h1 class="w3-text-teal">{{page_name}}</h1>
    <!-- <title>{{ page_name }}</title> -->
    <div>
        <img src="{{ image_url }}" alt="My Image" width="550" height="345"> 
        <!-- Display the Google Maps snapshot -->
        {% if page_link != '' %}
            <iframe src={{page_link}} id="frame" width="550" height="345" style="border:0; float: right;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        {% endif %}
    </div>

     {{ page_content }}   
     <!-- we will get the content from the pages para route. -->
    <div class="reviews_section">
        <h2>Reviews:</h2>
        {% for review in reviews %}
            <div class="review">
                <p>{{ review }}</p>
            </div>
        {% endfor %}
        
        <form method="post">
            <div>
                <label for="review">Write a Review:</label>
                <textarea id="review" name="review">{{ review_text }}</textarea>
            </div>
            {% with reviews = get_flashed_messages() %}
            {% if reviews %}
                <ul class="flashes">
                    {{reviews[0]}}
                </ul>
            {% endif %}
            {% endwith %}
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>

        <style>
        #element {
            width:20%;
            height:20px;
            background-color:#FFFFFF;
            border:5px solid;
            border-style: solid;
            border-color: black;
          }
        </style>
        <!-- Change this if statement -->
        {% if Variable_to_store_the_financial_experience != None %}
            <h1 id="element" style="font-size: large;"><span style="font-size: large;"> Financial Experience: </span><span style="color: #39FF33; font-size: large; line-height: 0px;"> {{Variable_to_store_the_financial_experience}} </span> </h1>
        {% endif %}

    </div>
{% endblock content %} 